# Configuration file

visual {
    B:cloudsEnabled=false
    I:daylightCycle=0
    I:skyColor=12114175
    I:skyType=0
    D:starBrightness=0.6100000143051147
    B:weatherEnabled=false
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false
    S:biomeId=Jungle
    I:dimId=180
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=minecraft:bedrock;minecraft:grass
}


